<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Arcade Create</title>
</head>>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
        <form role="form" method="post" th:action="@{/arcades/new}" th:object="${arcade}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            th:field="*{name}"
                            placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="photoUrl">PhotoUrl</label>
                    <input
                            type="text"
                            class="form-control"
                            id="photoUrl"
                            name="photoUrl"
                            th:field="*{photoUrl}"
                            placeholder="Photo Url">
                </div>
                <div class="form-group mb-3">
                    <label for="content">Content</label>
                    <input
                            type="text"
                            class="form-control"
                            id="content"
                            name="content"
                            th:field="*{content}"
                            placeholder="Content">
                </div>
                <button type="submit" class="btn btn-primary">Create Arcade</button>
            </div>
        </form>
        </div>
    </section>
</main>
</body>
</html>